.main-div{
    width: 25rem;
    height: 8rem;
    background-color: rgb(240, 240, 240);
    margin: 2rem;
}
.main-div-img{
    float: right;
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
}
.main-div-h3{
    text-align: right;
    font-size: medium;
}
.main-div-p{
    text-align: right;
}
.main-section{
    margin-inline: auto;
    display: flex;
    width: 70rem;
}