.main-div{
    width: 25rem;
    height: 8rem;
    background-color: rgb(240, 240, 240);
    margin: 2rem;
}
.main-div-img{
    float: right;
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
}
.main-div-h3{
    text-align: right;
    font-size: medium;
}
.main-div-p{
    text-align: right;
}
.main-section{
    margin-inline: auto;
    display: flex;
    width: 70rem;
}
@media (max-width:567px) {
    .main-section{
        display:block;
        align-items: center;
        width: auto;
        margin-inline: auto;
        background-color: aquamarine;
    }
    .main-div-h3{
        font-size: small;
    }
    .main-div-p{
        font-size: small;
    }
    .main-div{
        width: 20rem;
        height: 5rem;
        align-items: center;
        background-color: cadetblue;
    }
    
}