

.testclass{
    background-color: red !important;
}

.testzz .ant-select-selector{
    background-color: rgb(240, 240, 240) !important;
    width: 10rem;
    border-radius: 5px ;
    color: black ;
}